@import "../../assets/styles/colors.scss";

$orange: #ec7a5c;

.photo div div {
  font-size: 11px;
  background-color: $orange;
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 5px;
  border-radius: 3px;
}

.name span {
  color: $orange;
  font-weight: 600;
}
