$degraded-start: #fe7656;
$degraded-end: #fe7656;

$dark-background: #262422;
$light-background: #fff;

$text-primary-lb: #000;
$text-primary-db: #fff;
$text-secondary-lb: #ec7a5c;
$text-secondary-db: #ab5843;

$grey-db: #6b6b6b;
$light-grey-db: #b2b2b2;
